<section class="section" id="about-me" data-aos="fade-up">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about_container">
      <div class="about_info">
        <h2 class="about_info_title">
          I work with people all over the world to create impressive and
          <span class="about_accent_red">functional</span>
          <span class="about_accent_grey">websites</span> that reflect each
          client's unique personality.
        </h2>
      </div>
      <div class="about_img">
        <picture>
          <source
            srcset="
              ./img/about-me/about_desk.jpg    1x,
              ./img/about-me/about_desk@2x.jpg 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./img/about-me/about_tab.jpg    1x,
              ./img/about-me/about_tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/about-me/about_mob.jpg    1x,
              ./img/about-me/about_mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/about-me/about_desk.jpg" alt="Jefferson's photo" />
        </picture>
      </div>
    </div>
    <div class="acc_padding">
      <ul class="accordion-container">
        <li class="ac">
          <h2 class="ac-header d">
            <button type="button" class="ac-trigger about_list">
              ABOUT ME
            </button>
          </h2>

          <div class="ac-panel">
            <div class="ac-panel-text">
              <div class="about-text-padding">
                <p class="ac-text">
                  I am Lloyd Jefferson, a talented programmer with extensive
                  expertise in software development. I have an understanding of
                  different programming languages ​​and technologies, always
                  ready to improve my skills. I always follow the latest trends
                  and look for unconventional, creative solutions to problems. I
                  have a high level of analytical skills and am able to
                  effectively solve even the most difficult tasks encountered on
                  the way.
                </p>
                <p class="ac-text">
                  Able to work both independently and in a team. I can
                  effectively cooperate with colleagues, exchanging ideas and
                  finding optimal solutions. Professional maturity allows you to
                  calmly cope with challenges and stressful situations, while
                  maintaining a high quality of work. I am always looking for
                  opportunities for self-improvement. I actively study new
                  technologies and practices to stay abreast of the latest
                  innovations. I have a strong understanding of various
                  programming languages, frameworks and architectural concepts
                  that allow me to create efficient and scalable software.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger about_list">ROLE</button>
          </h2>
          <div class="ac-panel">
            <div class="ac-panel-text">
              <div class="about-text-padding">
                <p class="ac-text">Frontend development</p>
                <p class="ac-text">HeadlessCMS,Wordpress</p>
                <p class="ac-text">Blender(enjoy)</p>
              </div>
            </div>
          </div>
        </li>

        <li class="ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger about_list">
              EDUCATION
            </button>
          </h2>
          <div class="ac-panel">
            <div class="ac-panel-text">
              <div class="about-text-padding">
                <p class="ac-text">
                  2018 - 2019 / Frontend Development Diploma, GoIT IT School,
                  New York
                </p>
                <p class="ac-text">
                  2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                  School, New York
                </p>
                <p class="ac-text">
                  2020 - 2022 / Advanced Blender Animation Techniques, Udemy
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="swiper mySwiperAbout swiper-container">
      <div class="swiper-wrapper about_swiper_wrapper">
        <div class="swiper-slide tech_list about_active">HTML/CSS</div>
        <div class="swiper-slide tech_list about_active">JavaScript</div>
        <div class="swiper-slide tech_list about_active">React</div>
        <div class="swiper-slide tech_list about_active">Node.js</div>
        <div class="swiper-slide tech_list about_active">React Native</div>
        <div class="swiper-slide tech_list about_active">Soft skills</div>
      </div>
      <button id="custom-next-btn" class="icon_swiper">
        <svg class="icon_swiper" width="40" height="40" stroke="none">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
