<!-- ============ BENEFITS ============ -->
<section class="benefits-section section" id="benefits">
  <div class="container benefits-container">
    <div class="benefits-cards-conteiner">
      <h2 class="benefits-section-title">Benefits of working with me</h2>

      <ul class="benefits-list">
        <div class="benefits-cards">
          <li class="benefits-item">
            <div class="benefits-icons-frame">
              <svg class="benefits-icons" width="24px" height="24px">
                <use href="/img/icons.svg#icon-user-01"></use>
              </svg>
            </div>
            <h3 class="benefits-item-title">Expertise</h3>
            <p class="benefits-item-text">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </li>
        </div>
        <div class="benefits-cards">
          <li class="benefits-item">
            <div class="benefits-icons-frame">
              <svg class="benefits-icons" width="24px" height="24px">
                <use href="/img/icons.svg#icon-message-chat-circle-02"></use>
              </svg>
            </div>
            <h3 class="benefits-item-title">Communication</h3>
            <p class="benefits-item-text">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </li>
        </div>
        <div class="benefits-cards">
          <li class="benefits-item">
            <div class="benefits-icons-frame">
              <svg class="benefits-icons" width="24px" height="24px">
                <use href="/img/icons.svg#icon-brush-03"></use>
              </svg>
            </div>
            <h3 class="benefits-item-title">Art</h3>
            <p class="benefits-item-text">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </li>
        </div>
        <div class="benefits-cards">
          <li class="benefits-item">
            <div class="benefits-icons-frame">
              <svg class="benefits-icons" width="24px" height="24px">
                <use href="/img/icons.svg#icon-hourglass-04"></use>
              </svg>
            </div>
            <h3 class="benefits-item-title">Urgent execution</h3>
            <p class="benefits-item-text">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </li>
        </div>
      </ul>
      <div class="benefits-btn-container">
        <button
          class="benefits-btn"
          type="button"
          onclick="location.href='#work-together'"
        >
          Order the project
        </button>
      </div>
    </div>
  </div>
</section>
