<section class="covers" aria-label="covers section" data-aos="fade-up">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="content">
      <div class="marquee">
        <ul class="list-covers" aria-label="projects list">
          <li class="list-element-covers animations" aria-label="project item">
            <a
              target="_blank"
              class="marquee__line"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_10.jpg    1x,
                    ./img/covers/covers_10@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_10.jpg    1x,
                    ./img/covers/mobile-covers_10@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_10.jpg"
                  alt="Cover-10"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_7.jpg    1x,
                    ./img/covers/covers_7@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_7.jpg    1x,
                    ./img/covers/mobile-covers_7@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_7.jpg"
                  alt="Cover-7"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_10.jpg    1x,
                    ./img/covers/covers_10@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_10.jpg    1x,
                    ./img/covers/mobile-covers_10@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_10.jpg"
                  alt="Cover-10"
                />
              </picture>
            </a>
          </li>

          <li
            class="list-element-covers animations relet"
            aria-label="project item"
          >
            <a
              target="_blank"
              class="marquee__line"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_6.jpg    1x,
                    ./img/covers/covers_6@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_6.jpg    1x,
                    ./img/covers/mobile-covers_6@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_6.jpg"
                  alt="Cover-6"
                />
              </picture>
            </a>

            <a target="_blank" class="marquee__line" href="">
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_1.jpg    1x,
                    ./img/covers/covers_1@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_1.jpg    1x,
                    ./img/covers/mobile-covers_1@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_1.jpg"
                  alt="Cover-1"
                />
              </picture>
            </a>
            <a
              target="_blank"
              class="marquee__line"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_8.jpg    1x,
                    ./img/covers/covers_8@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_8.jpg    1x,
                    ./img/covers/mobile-covers_8@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_8.jpg"
                  alt="Cover-8"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_3.jpg    1x,
                    ./img/covers/covers_3@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_3.jpg    1x,
                    ./img/covers/mobile-covers_3@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_3.jpg"
                  alt="Cover-3"
                />
              </picture>
            </a>
          </li>

          <li class="list-element-covers animations" aria-label="project item">
            <a
              target="_blank"
              class="marquee__line"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_9.jpg    1x,
                    ./img/covers/covers_9@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_9.jpg    1x,
                    ./img/covers/mobile-covers_9@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_9.jpg"
                  alt="Cover-9"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_4.jpg    1x,
                    ./img/covers/covers_4@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_4.jpg    1x,
                    ./img/covers/mobile-covers_4@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_4.jpg"
                  alt="Cover-4"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_5.jpg    1x,
                    ./img/covers/covers_5@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_5.jpg    1x,
                    ./img/covers/mobile-covers_5@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_5.jpg"
                  alt="Cover-5"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_9.jpg    1x,
                    ./img/covers/covers_9@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_9.jpg    1x,
                    ./img/covers/mobile-covers_9@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_9.jpg"
                  alt="Cover-9"
                />
              </picture>
            </a>
          </li>

          <li
            class="list-element-covers animations relet"
            aria-label="project item"
          >
            <a
              target="_blank"
              class="marquee__line"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_10.jpg    1x,
                    ./img/covers/covers_10@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_10.jpg    1x,
                    ./img/covers/mobile-covers_10@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_10.jpg"
                  alt="Cover-10"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_6.jpg    1x,
                    ./img/covers/covers_6@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_6.jpg    1x,
                    ./img/covers/mobile-covers_6@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_6.jpg"
                  alt="Cover-6"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_10.jpg    1x,
                    ./img/covers/covers_10@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_10.jpg    1x,
                    ./img/covers/mobile-covers_10@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_10.jpg.jpg"
                  alt="Cover-10"
                />
              </picture>
            </a>

            <a
              target="_blank"
              class="marquee__line display-adapt display-adapt-end"
              href="https://sale.goit.global/"
            >
              <picture>
                <source
                  srcset="
                    ./img/covers/covers_2.jpg    1x,
                    ./img/covers/covers_2@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/covers/mobile-covers_2.jpg    1x,
                    ./img/covers/mobile-covers_2@2x.jpg 2x
                  "
                />
                <img
                  class="gallery-items"
                  src="./img/covers/mobile-covers_2.jpg"
                  alt="Cover-2"
                />
              </picture>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
