<section class="faq-section" id="faq" data-aos="fade-up">
  <div class="container">
    <h2 class="faq-title" id="faq_title">FAQ</h2>
    <div class="accordion-wrapper">
      <ul class="accordion-list">
        <li class="accordion-list-item accordion-item-right-border">
          <div class="accordion-item-header">
            <h3 class="accordion-item-question">
              What programming languages are most often used in your project?
            </h3>
            <button class="accordion-toggle-btn margin-left">
              <svg class="accordion-icon" width="20" height="20">
                <use href="/img/icons.svg#icon-arrow-acc"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-item-content">
            <p class="accordion-item-answer">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="accordion-list-item">
          <div class="accordion-item-header">
            <h3 class="accordion-item-question margin-left">
              What are the deadlines for the project?
            </h3>
            <button class="accordion-toggle-btn">
              <svg class="accordion-icon" width="20" height="20">
                <use href="/img/icons.svg#icon-arrow-acc"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-item-content">
            <p class="accordion-item-answer margin-left">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <li class="accordion-list-item accordion-item-right-border">
          <div class="accordion-item-header">
            <h3 class="accordion-item-question">
              What payment methods do you accept?
            </h3>
            <button class="accordion-toggle-btn margin-left">
              <svg class="accordion-icon" width="20" height="20">
                <use href="/img/icons.svg#icon-arrow-acc"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-item-content">
            <p class="accordion-item-answer">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
        <li class="accordion-list-item">
          <div class="accordion-item-header">
            <h3 class="accordion-item-question margin-left">
              How can I contact you?
            </h3>
            <button class="accordion-toggle-btn">
              <svg class="accordion-icon" width="20" height="20">
                <use href="/img/icons.svg#icon-arrow-acc"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-item-content">
            <p class="accordion-item-answer margin-left">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="accordion-list-item accordion-item-right-border">
          <div class="accordion-item-header">
            <h3 class="accordion-item-question">
              Do you provide advice or support?
            </h3>
            <button class="accordion-toggle-btn margin-left">
              <svg class="accordion-icon" width="20" height="20">
                <use href="/img/icons.svg#icon-arrow-acc"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-item-content">
            <p class="accordion-item-answer">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <li class="accordion-list-item">
          <div class="accordion-item-header">
            <h3
              class="accordion-item-question margin-left question-fixed-width"
            >
              What does the process of developing a software product look like
              from idea to implementation?
            </h3>
            <button class="accordion-toggle-btn">
              <svg class="accordion-icon" width="20" height="20">
                <use href="/img/icons.svg#icon-arrow-acc"></use>
              </svg>
            </button>
          </div>
          <div class="accordion-item-content">
            <p class="accordion-item-answer margin-left">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
