<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello. <br />I'm Fullstack developer <br />Lloyd Jefferson.
    </h1>
    <div class="social">
      <ul class="social-networks">
        <li class="social-networks-item instagram">
          <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
        </li>
        <li class="social-networks-item facebook">
          <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
        </li>
        <li class="social-networks-item youtube">
          <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
        </li>
        <li class="social-networks-item github">
          <a
            href="https://github.com/Hanna-Bondarenko/Portfolio-project-06"
            target="_blank"
            >GH</a
          >
        </li>
        <li class="social-networks-item email">
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>
