<!-- ============ REVIEWS  ============ -->
<section class="section reviews-section" id="reviews" data-aos="fade-up">
  <div class="container reviews-container">
    <div class="reviews-swiper swiper">
      <h3 class="reviews-section-title">Reviews</h3>
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="swiper-controll-buttons">
        <div class="swiper-button-prev button-prev">
          <svg class="swiper-button-prev-icon">
            <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
        <div class="swiper-button-next button-next">
          <svg class="swiper-button-next-icon">
            <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
