<section class="work-together section" id="work-together" data-aos="fade-up">
  <div class="container container-wt">
    <div class="title-container-wt">
      <img
        class="img-wt"
        srcset="/img/header/logo.png 1x, /img/header/logo@2x.png 2x"
        src="/img/header/logo.png"
        alt="User Photo"
        width="44"
        height="44"
      />
      <h1 class="title-wt">LET'S <span>WORK </span>TOGETHER</h1>
    </div>
    <form action="#" id="workForm">
      <div class="form-container-wt">
        <div class="contact-wt">
          <input
            type="email"
            id="email"
            placeholder="clients@gmail.com"
            required
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            title="Enter a valid email"
          />
          <input
            type="text"
            id="comments"
            placeholder="comments"
            maxlength="50"
          />
          <div id="emailError" class="error-message">
            Invalid email, try again
          </div>
        </div>
        <button class="btn-wt" type="submit">Send</button>
      </div>
      <div class="container-link-wt">
        <a href="mailto:lloydjefferson@gmail.com"
          ><input
            class="link-email-wt"
            type="email"
            value="lloydjefferson@gmail.com"
            readonly
        /></a>
        <a href="tel:+380111111111"
          ><input
            class="link-tel-wt"
            type="tel"
            value="+380 11 111 11 11"
            readonly
        /></a>
      </div>
    </form>
  </div>
</section>

<div class="backdrop-wt hidden">
  <div class="modal-wt">
    <button type="button" class="modal-close-btn-wt">
      <svg class="modal-close-img-wt" width="22" height="22">
        <use href="/img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <h3 class="modal-title-wt">Thank you for your interest in cooperation!</h3>
    <p class="modal-text-wt">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
