<!-- ============ WORK TOGETHER ========== -->
<section class="work-together section" id="work-together">
  <div class="container container-wt">
    <!-- ======= TITLE ======== -->
    <div class="title-container-wt">
      <h2 class="visually-hidden">Let's work together</h2>
      <div class="title-firstPart-title-wt">
        <img
          class="img-wt"
          srcset="/img/header/logo.png 1x, /img/header/logo@2x.png 2x"
          src="/img/header/logo.png"
          alt="User Photo"
          width="44"
          height="44"
        />
        <span class="title-wt"
          >LET'S<span class="title-wt-work">WORK</span></span
        >
      </div>
      <div>
        <span class="title-wt">TOGETHER</span>
      </div>
    </div>
    <!-- ========== FORM =========== -->
    <form action="#" class="wt-form" id="workForm">
      <div class="form-container-wt">
        <div class="contact-wt">
          <div class="email-test-message">
            <input
              type="email"
              class="wt-email-input"
              id="email"
              placeholder="clients@gmail.com"
              required
            />
            <span class="wt-success-message">Success!</span>
            <span class="wt-error-message">Invalid email, try again</span>
          </div>
          <input
            type="text"
            class="wt-comment-input"
            id="comments"
            placeholder="comments"
          />
        </div>
        <button class="btn-wt" type="submit">Send</button>
      </div>
    </form>
    <!-- ========= LINK ====== -->
    <div class="container-link-wt">
      <a class="link-email-wt" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="link-tel-wt" href="tel:+380111111111"> +380 11 111 11 11</a>
    </div>
  </div>
</section>
<!-- ================ MODAL =============== -->
<div class="backdrop-wt">
  <div class="modal-wt">
    <button type="button" class="modal-close-btn-wt">
      <svg class="modal-close-img-wt" width="22" height="22">
        <use href="/img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <h3 class="modal-title-wt">Thank you for your interest in cooperation!</h3>
    <p class="modal-text-wt">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
