.hero-section {
  position: relative;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  background: url(/img/hero/Hero.png),
    linear-gradient(90deg, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background: url(/img/hero/Hero@2x.png),
      linear-gradient(90deg, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
  }
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  padding-top: 281px;
  padding-bottom: 212px;
}

.social-networks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}

.social-networks-item {
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: box-shadow 0.8s ease-in-out, background-color 0.8s ease-in-out;
}

.social-networks-item:hover {
  box-shadow: 0 0 10px #fafafa, 0 0 20px rgba(255, 255, 255, 0.5);
  background-color: #080809;
}

.social-networks-link {
  cursor: pointer;
}

.instagram {
  padding: 10px 12px;
}

.facebook {
  padding: 10px;
}

.youtube {
  padding: 10px 11px;
}

.github {
  padding: 10px 8px;
}

.email {
  padding: 10px 12px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .social-networks {
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
  }
  .hero-title {
    font-size: 90px;
    padding-top: 300px;
    padding-bottom: 187px;
  }
  .social-networks {
    justify-content: flex-end;
    gap: 8px;
  }
  .social-networks-item {
    height: 55px;
    font-size: 16px;
  }
  .instagram {
    padding: 18px 20px;
  }
  .facebook {
    padding: 18px 17px;
  }
  .youtube {
    padding: 18px;
  }
  .github {
    padding: 18px 16px;
  }
  .email {
    padding: 18px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    max-width: 1440px;
  }
  .hero-title {
    padding-top: 300px;
    padding-bottom: 243px;
    padding-left: 146px;
    padding-right: 146px;
  }
}
