@import 'swiper/swiper-bundle.css';
@import 'izitoast/dist/css/iziToast.css';

.reviews-swiper.swiper {
  height: 100%;
  padding-bottom: 20px;
}
.reviews-section-title {
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  transition: color 0.8s ease-in-out;
}

.reviews-section:hover .reviews-section-title {
  color: #fafafa;
}

.reviews-list {
  display: flex;
  margin-bottom: 84px;
}

.reviews-list-item.swiper-slide {
  max-width: 344px;
  padding: 32px 24px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  min-height: 376px;
  display: flex;
  flex-direction: column;
}
.reviews-list-item-img {
  margin-bottom: 32px;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.reviews-list-item-author {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #fafafa;
  letter-spacing: -0.02em;
}
.reviews-list-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
.swiper-controll-buttons {
  position: absolute;
  top: calc(100% - 45px);
  left: calc(50% - (52px + 6px));
  display: flex;
  gap: 12px;
}
/* ======================================= Error fetching ==================== */
.swiper-controll-buttons.is-hidden {
  display: none;
}
.reviews-error-text {
  text-align: center;
  justify-self: center;
  margin: 30px auto 40px auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: rgba(250, 250, 250, 0.5);
  letter-spacing: -0.02em;
}
/* ============== swiper styles ============== */
.reviews-swiper {
  width: 100%;
  height: 100%;
}
.reviews-list {
  display: flex;
}
.reviews-list-item {
  width: 100%;
}
.swiper-button-prev.button-prev,
.swiper-button-next.button-next {
  box-sizing: border-box;
  position: static;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev-icon {
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
}
.swiper-button-next-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .reviews-list {
    margin-bottom: 100px;
  }
  .swiper-controll-buttons {
    gap: 20px;
    top: calc(100% - 60px);
    left: calc(50% - (68px + 10px));
  }
  .swiper-button-prev.button-prev,
  .swiper-button-next.button-next {
    width: 68px;
    height: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-list-item.swiper-slide {
    max-width: 332px;
  }
}
